body {
}

.accordion {
    margin: 10px 10px 0px 10px;
}

.accordion-title {
    margin-left: 5px;
}

.accordion-caret {
    color: white;
}

.bs-callout {
    padding: 20px;
    margin: 0px 10px 0px 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 0px;
}

.bs-callout-primary {
    border-left-color: #428bca;
}
