USE [Global]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CPTModifiers]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[CPTModifiers](
		[ID] [int] IDENTITY(1,1) NOT NULL,
		[Code] [varchar](10) NOT NULL,
		[Description] [varchar](600) NOT NULL,
		[isActive] [bit] NOT NULL DEFAULT ((1)),
		[CreateDate] [datetime] NOT NULL DEFAULT (getdate()),
		[ModfiedDate] [datetime] NULL,
	 CONSTRAINT [PK_CPTModifiers] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	));

	SET IDENTITY_INSERT [dbo].[CPTModifiers] ON
	INSERT [dbo].[CPTModifiers] ([ID], [Code], [Description], [isActive], [CreateDate], [ModfiedDate]) VALUES (1, N'A1', N'Dressing for one wound', 1, CAST(0x0000A03000E064EE AS DateTime), NULL)
	INSERT [dbo].[CPTModifiers] ([ID], [Code], [Description], [isActive], [CreateDate], [ModfiedDate]) VALUES (2, N'A2', N'Dressing for two wounds', 1, CAST(0x0000A03000E064EE AS DateTime), NULL)
	INSERT [dbo].[CPTModifiers] ([ID], [Code], [Description], [isActive], [CreateDate], [ModfiedDate]) VALUES (3, N'A3', N'Dressing for three wounds', 1, CAST(0x0000A03000E064EF AS DateTime), NULL)
	print 'Processed 100 total records'
	print 'Processed 200 total records'
	SET IDENTITY_INSERT [dbo].[CPTModifiers] OFF
END	
GO

SET IDENTITY_INSERT [dbo].[CodeTypes] ON
INSERT [dbo].[CodeTypes] ([CodeTypeID], [CodeTypeName], [CodeTypeDescription]) VALUES (7, N'CPTMods', N'CPT Modifiers provide additional information to payers to make sure your provider gets paid correctly for services rendered')
SET IDENTITY_INSERT [dbo].[CodeTypes] OFF

